

/* Responsive design for tablets */
        @media screen and (max-width: 1024px) {
         .certificates-section {
                padding: 5vh 5vw;
                min-height: 80vh;
            }

            .certificates-section h1 {
                font-size: 60px;
                margin-bottom: 3vh;
            }

            .certificates-container {
                gap: 25px;
                padding: 15px;
            }

            .certificate-card {
                width: 300px;
                height: 360px;
            }

            .certificate-image {
                height: 130px;
            }

            .certificate-card h2 {
                font-size: 20px;
            }

            .certificate-card h4 {
                font-size: 15px;
            }

            .certificate-card p {
                font-size: 13px;
            }
             .view-all-certificates-btn {
            font-size: 2vw;
            padding: 12px 25px;
        }

            .education-section {
        padding: 5vh 5vw;
        min-height: 600px;
    }

    .education-section h1 {
        font-size: 60px;
        margin-bottom: 3vh;
    }

    .education-container {
        gap: 30px;
        padding: 15px;
    }

    .education-card {
        width: 350px;
        height: 280px;
    }

    .education-card h2 {
        font-size: 20px;
    }

    .education-card h4 {
        font-size: 16px;
    }

    .education-card p {
        font-size: 14px;
    }

     .projects-section {
        padding: 5vh 5vw;
        min-height: 600px;
    }

    .projects-section h1 {
        font-size: 60px;
        margin-bottom: 3vh;
    }

    .projects-container {
        gap: 30px;
        padding: 15px;
    }

    .project-card {
        width: 350px;
        height: 280px;
    }
    
    .project-card img {
        height: 130px;
    }


    .project-card h2 {
        font-size: 20px;
    }

    .project-card h4 {
        font-size: 16px;
    }

    .project-card p {
        font-size: 14px;
    }

    .project-card .view-project-btn {
        padding: 8px 15px;
        font-size: 14px;
    }

    .projects-section .view-all-btn {
        margin-top: 3vh;
        padding: 10px 20px;
        font-size: 3vw;
    }

    .footer {
        padding: 30px 15px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-contact {
        text-align: center;
        padding: 0 10px;
    }

    .footer-social {
        text-align: center;
        padding: 0 10px;
    }

    .footer-contact h2,
    .footer-social h2 {
        font-size: 40px;
    }

    .footer-contact p {
        font-size: 24px;
    }

    .footer-social img {
        width: 70px;
        height: 60px;
    }

    .footer-bottom {
        font-size: 24px;
    }
        }

@media screen and (max-width: 768px) {
            .navbar {
                flex-direction: column;
                height: auto;
                padding: 2vh 5vw;
            }

            .navbar .logo {
                font-size: 5vw;
                margin-bottom: 2vh;
            }

            .navbar .nav-links {
                display: none;
                flex-direction: column;
                width: 100%;
                text-align: center;
            }

            .navbar .nav-links.active {
                display: flex;
            }

            .navbar .nav-links li {
                margin: 2vh 0;
            }

            .navbar .nav-links li a {
                font-size: 3vw;
            }

            .hamburger {
                display: flex;
                position: absolute;
                right: 5vw;
                top: 2vh;
            }

            /* 1 page started */
            .intro-section {
                flex-direction: column;
                height: auto;
                padding: 0;
            }

            .intro-section .image-container {
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                height: 75vh;
                padding: 0 0;
                background-position: top center;
                background-size: contain;
            }

           .intro-section .text-container {
                   position: relative;
            left:3vw;
            width: 95%;
            
            }

            .intro-section .text-container h1 {
                font-size: 6vw;
                margin-bottom: 3vh;
            }

            .intro-section .text-container p {
                font-size: 3.5vw;
                line-height: 1.6;
            }

            /* 2 page started */
            .introduction-section {
                padding: 3vh 3vw;
                min-height: 110vh;
            }

            .introduction-section h1 {
                font-size: 8vw;
                margin-bottom: 2vh;
            }

            .introduction-section .intro-text {
                font-size: 3vw;
                line-height: 4vh;
                max-width: 100%;
            }

            .introduction-section .content-container {
                gap: 0;
                flex-direction: column;
                align-items: center;
            }

            .introduction-section .content-container .text-block {
                width: 100%;
                margin-bottom: 5vh;
            }

            .introduction-section .content-container .text-block h2 {
                font-size: 5vw;
                margin-bottom: 2vh;
            }

            .introduction-section .content-container .text-block p {
                font-size: 2.5vw;
                line-height: 3vh;
            }
              .image1-container {
                position: absolute;
                top: -35vh;
                left: 10px;
                /* right: ; */
                justify-items: center;
                width: 50vw;
                height: 50vw;
                margin: 3vh auto;
            }
.image1-container:hover {
                transform: scale(1.05); /* Maintain hover effect on mobile */
                box-shadow: 0 0 15px rgba(0, 183, 235, 0.5);
            }

            /* 3 page started  */
            .skills-section {
                flex-direction: column;
                align-items: center;
                height: 100%;
                padding: 3vh 3vw;
            }

            .skills-section h1 {
                font-size: 8vw;
                margin-bottom: 3vh;
                text-align: center;
            }

            .skills-section .skills-container {
                width: 100%;
            }

            .skills-section .skills-container ol li {
                flex-direction: column;
                align-items: center;
                margin-bottom: 5vh;
            }

            .skills-section .skills-container .skill-name {
                width: 100%;
                font-size: 4vw;
                text-align: center;
                margin-bottom: 1vh;
            }

            .skills-section .skills-container .skill-bar-container {
                width: 60vw;
                height: 1.5vh;
                margin: 0;
            }

            .skills-section .skills-container .skill-bar {
                border-radius: 1vw;
            }

            .skills-section .skills-container .skill-percent {
                font-size: 3vw;
                margin-top: 1vh;
            }

            .skills-section .image-container {
                width: 50vw;
                height: 50vw;
                margin-top: 5vh;
            }
       /* 4 page - Certificates */
  .certificates-section {
                padding: 4vh 4vw;
                min-height: auto;
            }

            .certificates-section h1 {
                font-size: 8vw;
                margin-bottom: 3vh;
            }

            .certificates-container {
                gap: 20px;
                padding: 10px;
            }

            .certificate-card {
                width: 90vw;
                height: 380px;
            }

            .certificate-image {
                height: 140px;
            }

            .certificate-card h2 {
                font-size: 18px;
            }

            .certificate-card h4 {
                font-size: 14px;
            }

            .certificate-card p {
                font-size: 12px;
            }

            .certificate-popup {
                width: 95%;
                padding: 15px;
            }

            .certificate-popup img {
                height: 350px;
            }

            .certificate-popup h2 {
                font-size: 22px;
            }

            .certificate-popup h4 {
                font-size: 16px;
            }

            .certificate-popup p {
                font-size: 14px;
            }
             .view-all-certificates-btn {
            font-size: 4vw;
            padding: 10px 20px;
        }
            /* 5 page - Internships */
              .internship-card {
        width: 80vw;
    }

    .internships-section h1 {
        font-size: 8vw;
    }

    .internship-card h2 {
        font-size: 5vw;
    }

    .internship-card h4,
    .internship-card p,
    .intern-date {
        font-size: 3.5vw;
    }

    .internship-description {
        font-size: 3.5vw;
    }
    .internship-cards-container {
   
    gap: 6vw;
   
}
.view-details-btn {
    font-size: 2.5vw;
    width: 25vw;
height: 5vh;
}

/* 6th page started  */
  .education-section {
        padding: 3vh 5vw;
        height: auto;
    }

    .education-section h1 {
        font-size: 8vw;
        margin-bottom: 3vh;
    }

    .education-container {
        gap: 20px;
        padding: 10px;
        flex-direction: column;
    }

    .education-card {
        width: 90vw;
        max-width: 90vw;
        height: 320px;
        padding: 15px;
    }

    .education-card h2 {
        font-size: 20px;
    }

    .education-card h4 {
        font-size: 16px;
    }

    .education-card p {
        font-size: 14px;
    }

    .education-card:hover {
        transform: translateY(-10px) rotate(0deg);
    }


    /* 7th page started  */
    .projects-section {
        padding: 5vh 5vw;
        min-height: 900px;
    }

    .projects-section h1 {
        font-size: 8vw;
        margin-bottom: 3vh;
    }

    .projects-container {
        gap: 20px;
        padding: 10px;
        flex-direction: column;
    }

    .project-card {
        width: 90vw;
        max-width: 90vw;
        height: 420px;
        padding: 15px;
    }
    .project-card img {
        height: 140px;
    }


    .project-card h2 {
        font-size: 20px;
    }

    .project-card h4 {
        font-size: 16px;
    }

    .project-card p {
        font-size: 14px;
    }

    .project-card .view-project-btn {
        padding: 8px 15px;
        font-size: 14px;
    }

    .projects-section .view-all-btn {
        margin-top: 3vh;
        padding: 10px 20px;
        font-size: 3vw;
    }
     .footer {
        padding: 20px 10px;
    }

    .footer-container {
        gap: 15px;
    }

    .footer-contact h2,
    .footer-social h2 {
        font-size: 30px;
    }

    .footer-contact p {
        font-size: 20px;
    }

    .footer-social img {
        width: 60px;
        height: 50px;
    }

    .footer-bottom {
        font-size: 18px;
        margin-top: 15px;
    } 
        }